#datetime-picker {
  box-sizing: border-box;
  width: 272px;
  padding: 7px 16px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #2e2f42;
  border: 1px solid #808080;
  margin-right: 4px;
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker:active,
#datetime-picker:focus {
  border-color: #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  border-color: #808080;
  color: #808080;
  cursor: not-allowed;
}

button[data-start] {
  padding: 8px 16px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4%;
  color: #ffffff;
  border: none;
  background-color: #4e75ff;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 4%;
}
